body {
    background: brown;
background-blend-mode: overlay;
 color: black;    
    line-height: 2.0;     
    scroll-behavior: smooth ; 
}
section {
    max-width: 800px;  
    margin: 0 auto;         
    padding: 0.5rem 0.2rem;         
    scroll-margin-top: 80px;  
    height: 50vh;
}
header {
    background: gray;
    backdrop-filter: blur(8px); 
    position: sticky;   
    top: 0;
    z-index: 100;                     
    border-bottom: 1px solid rgba red;
}
nav ul {
    border-radius: 4px;
    display: flex; 
    justify-content: center;
    gap: 2.5rem;            
    list-style: none;   
    padding: 1rem 2rem; 
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;       
    color: blue;    
    font-size: 1.1rem;
    transition: 1.2s;  
    padding: 0.5rem 0;
    border-bottom: 2px solid transparent;
}
.hero {
    text-align: center;                       
    background-image: url(with.jpg); 
    border-radius: 20px
    padding-top: 1.0rem;
    padding-bottom: 0.50rem;
    max-width: 800px;
    margin: 5.50px;
}
.hero img {
    width: 100px;   
    height: 100px;              
    object-fit: cover;  
    border-radius: 50%; 
    border: 4px solid green;    
    transition: transform 0.3s;
}
.hero h1 p{
    font-size: 2.2rem;
    background: black; 
    background-clip: text;      
       color: red;
    margin-bottom: 0.75rem;
}
#about {
    background: dimgray;
    border-radius: 2px;
   padding-top: 2.5rem 1.5rem; 
   padding-bottom: 0.5rem;
   margin: 5.50px;
   max-width: 8000px;
}

#skills {
    background: yellowgreen;
    border-radius: 0.50rem;
    width: 100%;
    height: 50%;
    padding: 0.5rem 0.5rem;
}
.skills-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    margin-top:0.51rem;
}
.skill-card {
    background: gray;
    padding: 1.2rem 0.8rem; 
    text-align: center;
    font-weight: 600;
    border-radius: 1px;
    box-shadow: 0 8px 20px rgba(brown);
    transition: 0.25s;
    border: 1px solid rgba(44,125,160,0.2);
}
.skill-card:hover {
    transform: translateY(-6px);  
    border-color: red; 
 
}
#register {
    background: burlywood;
    border-radius: 1px;
    box-shadow: 0 8px 28px rgba(0,0,0,0.04);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}
.reg-form {
    max-width: 480px;  
    display: flex;
    flex-direction: column;
    gap:  5px;      
    margin-top: 2rem;
}
.reg-form input {
    padding: 0.9rem 1.2rem;
    border-radius: 2rem;         
    border: 1px solid black;    
    font-size: 1rem;
    background: darkred;
    transition: 2.2s;
    font-family: inherit;
}

.reg-form button {
    background: darkgoldenrod;
    border: none;
    padding: 0.9rem;
    font-size: 1rem;
    color: darkslategray;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: 0.2s;
    letter-spacing: 0.3px;

}
.reg-form button:hover {
    background: linear-gradient(blue, green, yellow); 
}
footer {
    text-align: center;
    padding: 3px;
    color:  black;  
    font-size: 1.3rem;
    letter-spacing: 0.83px;
    margin-top: -3.2rem;
    margin-bottom: 2.5px;
}